/*VALORI GENERALI*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Lato", sans-serif;
    color: white;
    background-color: black;
}

/*VALORI HEADER*/



/*VALORI MAIN*/



/*VALORI FOOTER*/